.aboutMeContainer {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px;
}

.textAndImage {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.aboutMeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
  margin-left: 5%;
  width: 60%
}

.aboutMeText p {
  font-style: italic;
}


.imageContainer {
  width: 45%;
}

.imageContainer img {
  width: 100%;
  height: auto;
  padding-top: 30px;
  max-width: 600px;
}
