.aboutMeContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

.textAndImage {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.aboutMeText {
  padding: 0% 0% 5% 5%;
  width: 50%
}

.aboutMeText p {
  font-style: italic;
}

.imageContainer {
  /* width: 45%; */
}

.imageContainer img {
  width: 100%;
  height: auto;
  padding-top: 30px;
  max-width: 600px;
}
