.Button {
  background-color: #969696;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: white;
  padding: 16px 31px;
  text-decoration: none;
  font-weight: bold;
  margin: 10px;
  min-width: 150px;
}

.Button:hover {
  background-color: #ffffff;
  color: #000;
}

.Button:active {
  position: relative;
  top: 1px;
}
