.Button {
  background-color: #969696;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-size: 14px;
  padding: 16px 31px;
  text-decoration: none;
}

.Button:hover {
  background-color: #ffffff;
}

.Button:active {
  position: relative;
  top: 1px;
}