.skillsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skills, h3 {
  padding-bottom: none;
}

.Upcoming {
  margin-bottom: 30px;
}

.Upcoming p {
  font-size: 12px;
  margin-top: -5%;
}
