.casePageBox{
  display: flex;
  flex-direction: column;
  margin: 5% 5% 0% 5%;
}

.imageBox{
  width: 100%;
}

.imageBox img{
  width: inherit;
}

.textBox{
  display: flex;
  justify-content: space-between;
}

.caseButton{
  margin:auto;
}

.caseButton, a{
  width: 90px;
  margin:auto;
}
