.studiesContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -2%;
}

.studiesBox{

}

 .studies, h3{
   padding-bottom: none;

 }

.buttonBox{
  display: flex;
  justify-content: center;

}
