.techContainer{
  display: flex;
  flex-direction: column;
}

.techHeader, h4{
  font-weight: normal;
}

.techText{
  font-style: italic;
}

.allCases{
  display: flex;
  flex-direction: column;
}

.casesContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.case{
  width: 30%;
  height: 30%;
  margin-bottom: 2%;
}

.case img{
  width: 100%;

}
