.techContainer{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.techHeader, h4{
  /* font-weight: normal; */
}

.techText{
  font-style: italic;
  margin-bottom: 30px;
}

.allCases{
  display: flex;
  flex-direction: column;
}

.casesContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.case{
  width: 100%;
  height: 30%;
  margin-bottom: 2%;
}

.case img{
  width: 100%;
}

/* Media queries */

/* Desktop */
@media (min-width: 900px){
  .allCases{
    display: flex;
    flex-direction: row;
  }
  .casesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .case{
    width: 30%;
    height: 30%;
    margin-bottom: 2%;
  }
}

/* tablet */
@media (min-width: 600px){
  .case{
    width: 30%;
    height: 30%;
    margin-bottom: 2%;
  }

  .casesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
