.techContainer{
  display: flex;
  flex-direction: column;
}

.techHeader, h4{
  font-weight: normal;
}

.techText{
  font-style: italic;
}

.allProjects{
  display: flex;
  flex-direction: column;
}

.allProjects p{
  font-size: 12px;

}

.projectsContainer1, .projectsContainer2, .projectsContainer3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project{
  width: 48%;
  margin-bottom: 2%;
}

.allProjects img{
  width: 100%;
}
