@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Abel');

*{
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Audiowide', cursive;

}

h1 {
  font-size: 16px;
}

h3, h4, h5{
  font-size: 16px;
  margin-bottom: 5%;
  margin-top: 2%;
}

h6{
  font-size:14px;
}

p{
  font-family: 'Abel', sans-serif;;
  font-size: 18px;
}

/* Media queries */

/* tablet */
@media only screen and (min-width: 600px){
  p{
    font-size: 24px;
  }

  .casePageBox{
    display: flex;
    flex-direction: column;
     padding: 0% 5% 0% 5%;
   }

  h3, h4, h5, {
    font-size: 26px;
  }

  h1, h6{
    font-size: 22px;
  }
}

/* Desktop */
@media only screen and (min-width: 768px) {
  p{
    font-size: 36px;
  }

  .landingPageBox{
    display: flex;
    flex-direction: column;
    margin: 0% 10% 0% 10%;
  }
  .casePageBox{
    display: flex;
    flex-direction: column;
    padding: 0% 10% 0% 10%;
  }

  h1{
    font-size: 24px;
  }

  h3, h4, h5 {
    font-size: 36px;
  }

  h6{
    font-size: 30px;
  }
  .buttonBox{
    margin-top: 100px;
    margin-bottom: 50px;
  }
}
