@font-face {
    font-family: 'big_johnregular';
    src: url('./webfontkit/bigjohn-webfont.woff2') format('woff2'),
         url('./webfontkit/bigjohn-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
